<div *ngIf="palette && !edit; else create" class="item" [style.animation-delay.ms]="i! * 30">
    <div class="palette">
        <div class="place c3" [style.background-color]="palette.color1">
            <a routerLink="/palette/{{palette!.id}}"></a><span #elem3
                (click)="copy(palette.color1, elem3)">{{palette.color1}}</span>
        </div>
        <div class="place c2" [style.background-color]="palette.color2">
            <a routerLink="/palette/{{palette!.id}}"></a><span #elem2
                (click)="copy(palette.color2, elem2)">{{palette.color2}}</span>
        </div>
        <div class="place c1" [style.background-color]="palette!.color3">
            <a routerLink="/palette/{{palette!.id}}"></a>
            <span #elem1 (click)="copy(palette!.color3, elem1)">{{palette!.color3}}</span>
        </div>
        <div class="place c0" [style.background-color]="palette!.color4">
            <a routerLink="/palette/{{palette!.id}}"></a><span #elem
                (click)="copy(palette!.color4, elem)">{{palette!.color4}}</span>
        </div>
    </div>
    <div class="flex">
        <div class="actions flex">
            <div class="button like" (click)="like(palette)" [attr.status]="isLiked(palette)">
                <div class="icon" icon="like"></div>
                <span>{{palette!.likes}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #create class="item">
    <div class="item">
        <div class="palette">
            <div class="place c3" [style.background-color]="palette.color1">
                <a routerLink="/palette/{{palette!.id}}"></a><span #elem3
                    (click)="copy(palette.color1, elem3)">{{palette.color1}}</span>
            </div>
            <div class="place c2" [style.background-color]="palette.color2">
                <a routerLink="/palette/{{palette!.id}}"></a><span #elem2
                    (click)="copy(palette.color2, elem2)">{{palette.color2}}</span>
            </div>
            <div class="place c1" [style.background-color]="palette!.color3">
                <a routerLink="/palette/{{palette!.id}}"></a>
                <span #elem1 (click)="copy(palette!.color3, elem1)">{{palette!.color3}}</span>
            </div>
            <div class="place c0" [style.background-color]="palette!.color4">
                <a routerLink="/palette/{{palette!.id}}"></a><span #elem
                    (click)="copy(palette!.color4, elem)">{{palette!.color4}}</span>
            </div>
        </div>
        <div class="flex">
            <div class="actions flex">
                <div class="button like" (click)="like(palette)" [attr.status]="isLiked(palette)" *ngIf="!isNew">
                    <div class="icon" icon="like"></div>
                    <span>{{palette!.likes}}</span>
                </div>
                <div class="button" style="margin-left: 1vw; background-color: red;" *ngIf="!isNew"><a
                        style="color: white;" href="http://localhost:4200/palette/" (click)="del()">Delete</a></div>
                <div class="button" style="background-color: blue;" *ngIf="isNew"><a style="color: white;"
                        href="http://localhost:4200/palette/" (click)="crt()">create</a></div>
            </div>
        </div>
    </div>
</ng-template>